/* Preset : Moderne */
[data-theme="modern"] {
    --primary-color: #3498db;
    --font-stack: "Roboto", sans-serif;
    --background-color: #FFFFFF;
    --button-color: #121212;
    --button-text-color: #FFFFFF;
  }
  
  /* Preset : Élégant */
  [data-theme="elegant"] {
    --primary-color: #2c3e50;
    --font-stack: "Helvetica", serif;
    --background-color: #F5F5F5;
    --button-color: #5A3E36;
    --button-text-color: #FFFFFF;
  }
  
  /* Appliquer les variables CSS globales */
  body {
    color: var(--primary-color);
    font-family: var(--font-stack);
    background-color: var(--background-color);
  }
  
  button {
    background-color: var(--button-color);
    color: var(--button-text-color);
  }